// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Old colors:
$yellow: #FFF3D0;
$blue-font: #1D3E50;
$gray-navbar: #F49C63;
$gray-background: #f9f9f9;
$blue-background: #F49C63;
$green-btn: #82b440;

// New colors: (our pallette)
$cream: #F5EFE6;
$baby-blue: #B4CDE6;
$orange: #F49C63;
$brown: #3C2317;
