// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.title-home {
  font-family: 'monoton', cursive;
  color: $green-water;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.banner-landing-page {
  background-position: center;
  width: 100%;
}

.card-product {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 45%;
  margin: 0px;
  border-radius: 5px;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  h2 {
    font-family: $body-font;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-family: $body-font;
    font-size: 20px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product-infos {
  padding: 32px;
  text-align: start;
}
