.h1-mycars {
  padding-left: 70px;
  font-family: 'monoton', cursive;
}

.container-both {
  display: flex;
  flex-direction: row;
}

.container-carousel {

}

.container-infos {
  padding: 15px;
  background-color: #B4CDE6;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.223);
}
