.h1-show {
  padding-left: 70px;
  font-family: 'monoton', cursive;
}

.car-name {
  color: black;
}

.car-selection {
  color: $baby-blue;
}

.h5-show {
  font-weight: bold;

  justify-content: center;
  align-items: center;
}
