.h1-show {
  padding-left: 70px;
  font-family: 'monoton', cursive;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.car-name {
  color: black;
}

.car-selection {
  color: $green-btn;
}

.h5-show {
  font-weight: bold;
}
