<<<<<<< HEAD
<footer class="mt-auto py-3 text-center">
    <div class="container">
      <section>
        <h2>Contact Information</h2>
        <address class="address">Vintage Garage Rua Jeric처, 93, S찾o Paulo, Brasil, +55 (11) 4002-8922</address>
        <h5>Follow us</h5>
        <ul>
          <li><a href="http://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="http://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="http://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </section>
    </div>
  </footer>
=======
<footer class="dark-background footer">
  <section>
    <h2>Contact Information</h2>
    <address class="address">Vintage Garage Rua Jeric처, 93, S찾o Paulo, Brasil, (11) 4002-8922</address>
    <h5>Follow us</h5>
    <ul>
      <li><a href="http://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="http://facebook.com" target = "_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="http://instagram.com" target = "_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </section>
  <%# <iframe
  src=""
  class="map-frame"
  frameborder="0"
  style="border:0"
  allowfullscreen
  ></iframe> %>
</footer>
>>>>>>> 936430051a2c83e6d095b74f2839a0abfb80c7e3
