<footer class="dark-background footer">
  <section>
    <h2>Contact Information</h2>
    <address class="address">Vintage Garage Rua Jericó, 93, São Paulo, Brasil, +55 (11) 4002-8922</address>
    <h5>Follow us</h5>
    <ul>
      <li><a href="http://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="http://facebook.com" target = "_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="http://instagram.com" target = "_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </section>
  <%# <iframe
  src=""
  class="map-frame"
  frameborder="0"
  style="border:0"
  allowfullscreen
  ></iframe> %>
</footer>
