<%# <div class="banner-landing-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/6a/ff/ac/6affacd13a47de0a90ffb0a51a1bc388.jpg);">
  <div class="container">
  </div>
</div> %>
<%#
<div class="banner-landing-page">
  <h1 class="title-home">Vintage Garage</h1>
  <%= video_tag "the-garage.mp4", :autoplay => true, :loop => true, muted: 'muted', class: :standard_post_video %>
<%# </div> %>

<div class="d-flex justify-content-around mt-5 mb-5">
  <div class="card-product">
    <img src="https://www.classicvwbugs.com/wp-content/uploads/2014/03/1955vert1.jpg" />
    <div class="card-product-infos">
      <h2>Beetles</h2>
      <p>Rock like a Beatle in your own<strong> Beetle!</strong>.</p>
      <%= link_to "See selection", cars_path(query: "beetle"), class: "button btn" %>
      <%# CARDS TEM QUE SER CLICÁVEIS ROTAS (?) %>
    </div>
  </div>

  <div class="card-product">
    <img src="https://lh3.googleusercontent.com/Y8Mzg6voBxfNdORqEIr2kB17QizaKG-YXT267jLGNcsIw9cIz2PbLIkNCmHV2U2LUy0bSAgoVLv-KSOCvfpR=s1000" />
    <div class="card-product-infos">
      <h2>Kombis</h2>
      <p>The best<strong> vintage</strong> VW vans.</p>
      <%= link_to "See selection", cars_path(query: "kombi"), class: "button btn" %>
    </div>
  </div>
</div>

<footer class="dark-background footer">
  <section>
    <h2>Contact Information</h2>
    <address class="address">Vintage Garage Rua Jericó, 93, São Paulo, Brasil, +55 (11) 4002-8922</address>
    <h5>Follow us</h5>
    <ul>
      <li><a href="http://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="http://facebook.com" target = "_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="http://instagram.com" target = "_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </section>
  <%# <iframe
  src=""
  class="map-frame"
  frameborder="0"
  style="border:0"
  allowfullscreen
  ></iframe> %>
</footer>
