<div class="banner-landing-page">
  <%= video_tag "https://thegarage.com.br/wp-content/themes/thegarage/assets/video/the-garage.mp4", :autoplay => true, :loop => true, muted: 'muted', class: :standard_post_video, width: '100%', height: '100%' %>
  <h1 class="title-home">Vintage Garage</h1>
</div>

<div class="d-flex flex-wrap justify-content-around mt-5 mb-5">
  <div class="card-product">
    <img src="https://www.classicvwbugs.com/wp-content/uploads/2014/03/1955vert1.jpg" />
    <div class="card-product-infos m-3">
      <h2>Beetles</h2>
      <p>Rock like a Beatle in your own<strong> Beetle!</strong>.</p>
      <%= link_to "See selection", cars_path(query: "beetle"), class: "button btn-secondary btn-sm" %>
    </div>
  </div>

  <div class="card-product">
    <img src="https://lh3.googleusercontent.com/Y8Mzg6voBxfNdORqEIr2kB17QizaKG-YXT267jLGNcsIw9cIz2PbLIkNCmHV2U2LUy0bSAgoVLv-KSOCvfpR=s1000" />
    <div class="card-product-infos m-3">
      <h2>Kombis</h2>
      <p>The best<strong> vintage</strong> VW vans.</p>
      <%= link_to "See selection", cars_path(query: "kombi"), class: "button btn-secondary btn-sm" %>
    </div>
  </div>
</div>
