.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-car > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-car p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-car .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-car-infos .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(33.3333% - 20px); /* Adjust the width as needed */
  margin-bottom: 20px;
}

/* Optional: Add media queries for responsive image sizes */
.carousel-item img {
  max-width: 100%;
  height: auto;
}
