<<<<<<< HEAD
/* Updated _carousel.scss */
.container.my-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-inner {
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  top: auto;
  bottom: 20px;
}

/* Add responsive styles for the carousel */
@media (max-width: 576px) {
  .carousel-inner img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner img {
    max-width: 80%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .carousel-inner img {
    max-width: 100%;
    height: auto;
  }
=======
.carousel-inner {
  height: 340px;
}

.carousel-img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0
}

.slide {
  width: 100%;
>>>>>>> 936430051a2c83e6d095b74f2839a0abfb80c7e3
}
