footer {
  background-color: $orange;
  color: $cream;
  font-family: $body-font;
  text-align: center;
  font-size: 1.9em;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    color: $cream;
    font-weight: bold;
    font-family: $body-font;
  }

  ul {
    color: $cream;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
  }

  a {
    color: $cream;
    text-decoration: none;
    font-family: $body-font;
  }

  .address {
    font-family: $body-font;
    color: $cream;
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 20px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    .address {
      font-size: 0.7em;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 576px) {
    padding: 10px;
    h2 {
      font-size: 0.8em;
    }
    ul {
      font-size: 0.6em;
    }
    footer {
      font-size: 40%; /* Set font size to 70% for mobile */
    }

  }
}
