/* Default navbar styles */

/* Remove transparency settings, if any */
.navbar-lewagon {
  justify-content: space-between;
  background: #F49C63; /* Set your desired background color here */
  position: relative;
  z-index: 1; /* Ensure the navbar is at a lower stacking order */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
  z-index: 2; /* Ensure the brand is at a higher stacking order */
}

.container-fluid {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  color: $cream;
}
