.navbar-lewagon {
  justify-content: space-between;
  background: $green-water;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  background-color: transparent;
}

.container-fluid {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  color: $cream;
}
