<div class="container">
  <h1 class="text-center"><strong>Carss</strong></h1>
</div>

<div class="container">
    <% @cars.each do |car| %>
        <%= link_to car_path(car), class:"btn btn-primary hover:text-primary " do %>
        <%= car.brand %>
        <% end %>
    <% end %>
</div>
