<div class="container my-5">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="card-title text-center my-5">Congratulations!</h1>
      <h5 class="card-text text-center">You just bought <%= @sale.car.model %></h5>
      <div class="text-center mt-5">
        <%= link_to 'Back', cars_path, class: "btn btn-secondary rounded-pill" %>
      </div>
    </div>
  </div>
</div>
